.content .col-md-3 {
    border: 1px solid #2c3e50;
}

.col-md-3 div {
    margin-bottom: 5px;
    text-align: center;
}

.index .col-md-3 a:link {text-decoration: none;color: white}
.index .col-md-3 a:visited {text-decoration: none;color: white}
.index .col-md-3 a:hover {text-decoration: none;color: white}
.index .col-md-3 a:active {text-decoration: none;color: white}

.index .col-md-2 {
    text-align: center;
}

.pb-4, .py-4 {
    padding: 0 !important
}